<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="color: #333333;font-family: arial;max-width: 650px;margin: 0 auto;padding: 0 16px;display: flex;flex-direction: column;min-height: 100vh">
    <div class="main-content" style="flex-grow: 1;">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>
    
    {{>footer}}
</body>

</html