<header style="margin-top: 16px;
margin-bottom: 48px;">
    <h1 style="font-size: 64px;margin-bottom: 16px;"><%= title %></h1>

    <a style=" color: #888888;margin-right: 16px;text-decoration: none;" href="/">Weather</a>
    <a style=" color: #888888;margin-right: 16px;text-decoration: none;" href="/about">About</a>
    <a style=" color: #888888;margin-right: 16px;text-decoration: none;" href="/help">Help</a>
    
</header>